

<form [formGroup]="form">
    <mat-card class="example-card">    
        <mat-card-subtitle styel="background-color: blue">{{tipeAction}} Response</mat-card-subtitle>
        <!-- <mat-card-title>dfgfg</mat-card-title>   -->
        <mat-card-content>
            <mat-form-field  appearance="fill"  style="width: 100%;">
                <mat-label>Response</mat-label>
                <input matInput placeholder="" formControlName="response">       
            </mat-form-field>
            <section class="toggle-section">
                <mat-slide-toggle class="toggle-margin" color="primary" formControlName="isTrue">True Option</mat-slide-toggle>
            </section> 
            <mat-form-field appearance="fill" style="width: 100%;">
                <mat-label>Reason</mat-label>
                <input matInput placeholder="" formControlName="reason">       
            </mat-form-field>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
          <button mat-button (click)="save()">SAVE</button>
          <button mat-button (click)="close()">CANCEL</button>
        </mat-card-actions>
        <mat-card-footer>
          <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
        </mat-card-footer>
    </mat-card>
</form>